body {
    font-family: 'Roboto', sans-serif;
}

.home-color {
    background-color: #2F834B;
    color: #fff;
}

.sobre-color {
    background-color: #8456b1;
    color: #fff;
}

nav img {
    height: 50px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
    cursor: pointer;
    font-weight: 600;
}

nav {
    background: rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.event-date {
    border: 2px solid #fff;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
}

button a {
    text-decoration: none;
    color: #2F834B;
    font-weight: bold;
}

button {
    background-color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    transition: 0.3s;
}

button:hover {
    background-color: #f1f1f1;
}

.speaker-img {
    width: 160px;
    /* tamanho fixo */
    height: 210px;
    /* quadrado */
    object-fit: cover;
    /* corta e centraliza a imagem */
    border-radius: 50%;
    /* deixa circular (opcional) */
    border: 3px solid rgba(255, 255, 255, 0.4);
    /* borda sutil */
    background-color: #fff;
    /* fundo branco se a imagem tiver transparência */
}

#convidados h4 {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 6px;
    padding: 0.25rem 0.75rem;
}

.parti-color {
    background: #B57EDC;
    color: #FFFFFF;

}

.inscricao-color {
    background-color: #4a90e2; /* Azul bebê / suave */
    color: #ffffff;
}